# US Immigration and Temperature
### Data Engineering Capstone Project

#### Project Summary
This capstone project is to give a chance to combine what I've learned throughout this programme. The project is to create the ETL pipeline to create a database for useful insights and analysis. For example, is there any immigration age or nationality distribtuion? or do immigrates prefer warmer places?

#### The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import pandas as pd, re
import os
import glob

In [2]:
!pip install pyspark --upgrade
import pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, count, col, year, month, avg, isnull, round
from pyspark.sql.types import StringType, IntegerType

Collecting pyspark
  Downloading https://files.pythonhosted.org/packages/89/db/e18cfd78e408de957821ec5ca56de1250645b05f8523d169803d8df35a64/pyspark-3.1.2.tar.gz (212.4MB)
    100% |████████████████████████████████| 212.4MB 133kB/s eta 0:00:01 2% |▉                               | 5.4MB 28.4MB/s eta 0:00:08    5% |█▋                              | 10.7MB 28.1MB/s eta 0:00:08    5% |█▉                              | 12.0MB 27.6MB/s eta 0:00:08    8% |██▋                             | 17.1MB 27.1MB/s eta 0:00:08    10% |███▍                            | 22.3MB 27.3MB/s eta 0:00:07    11% |███▌                            | 23.6MB 27.2MB/s eta 0:00:07    11% |███▊                            | 24.9MB 26.6MB/s eta 0:00:08    12% |████                            | 26.1MB 27.0MB/s eta 0:00:07    13% |████▎                           | 28.6MB 23.7MB/s eta 0:00:08    14% |████▌                           | 29.9MB 27.2MB/s eta 0:00:07    15% |█████                           | 33.7MB 26.0MB/s eta 0:00:07    16% |█████▎                          | 35.0MB 27.0MB/s eta 0:00:07    17% |█████▋                          | 37.4MB 25.3MB/s eta 0:00:07    18% |█████▉                          | 38.7MB 25.7MB/s eta 0:00:07    18% |██████                          | 39.9MB 26.3MB/s eta 0:00:07    19% |██████▏                         | 41.1MB 24.1MB/s eta 0:00:08    21% |██████▊                         | 44.7MB 24.1MB/s eta 0:00:07    21% |███████                         | 45.9MB 25.4MB/s eta 0:00:07    22% |███████                         | 47.1MB 25.8MB/s eta 0:00:07    23% |███████▍                        | 49.4MB 24.5MB/s eta 0:00:07    24% |████████                        | 52.8MB 24.4MB/s eta 0:00:07    25% |████████▎                       | 55.0MB 23.2MB/s eta 0:00:07    26% |████████▌                       | 56.1MB 24.0MB/s eta 0:00:07    26% |████████▋                       | 57.2MB 25.8MB/s eta 0:00:07    27% |████████▉                       | 58.4MB 23.7MB/s eta 0:00:07    30% |█████████▉                      | 64.9MB 22.4MB/s eta 0:00:07    31% |██████████                      | 65.9MB 21.9MB/s eta 0:00:07    31% |██████████                      | 67.0MB 25.5MB/s eta 0:00:06    32% |██████████▍                     | 69.1MB 24.1MB/s eta 0:00:06    33% |██████████▊                     | 71.1MB 21.2MB/s eta 0:00:07    34% |██████████▉                     | 72.2MB 22.1MB/s eta 0:00:07    34% |███████████▏                    | 74.1MB 21.2MB/s eta 0:00:07    35% |███████████▍                    | 75.3MB 24.8MB/s eta 0:00:06    36% |███████████▋                    | 77.2MB 22.4MB/s eta 0:00:07    36% |███████████▊                    | 78.1MB 23.1MB/s eta 0:00:06    38% |████████████▏                   | 80.8MB 19.8MB/s eta 0:00:07    38% |████████████▎                   | 81.6MB 14.9MB/s eta 0:00:09    38% |████████████▍                   | 82.1MB 16.6MB/s eta 0:00:08    41% |█████████████▏                  | 87.2MB 26.2MB/s eta 0:00:05    41% |█████████████▎                  | 88.4MB 22.9MB/s eta 0:00:06    42% |█████████████▌                  | 90.0MB 11.1MB/s eta 0:00:12    42% |█████████████▊                  | 91.0MB 24.9MB/s eta 0:00:05    43% |█████████████▉                  | 92.0MB 20.0MB/s eta 0:00:07    44% |██████████████▏                 | 94.1MB 22.8MB/s eta 0:00:06    45% |██████████████▋                 | 97.2MB 23.5MB/s eta 0:00:05    46% |██████████████▉                 | 98.2MB 20.4MB/s eta 0:00:06    47% |███████████████▎                | 101.2MB 24.8MB/s eta 0:00:05    48% |███████████████▍                | 102.2MB 20.4MB/s eta 0:00:06    48% |███████████████▌                | 103.1MB 23.2MB/s eta 0:00:05    50% |████████████████                | 106.3MB 19.9MB/s eta 0:00:06    50% |████████████████▏               | 107.3MB 20.1MB/s eta 0:00:06    50% |████████████████▎               | 108.2MB 13.5MB/s eta 0:00:08    51% |████████████████▋               | 110.3MB 25.0MB/s eta 0:00:05    52% |████████████████▊               | 111.3MB 18.8MB/s eta 0:00:06    52% |█████████████████               | 112.5MB 30.2MB/s eta 0:00:04    53% |█████████████████               | 112.9MB 3.9MB/s eta 0:00:26    53% |█████████████████▎              | 114.6MB 20.5MB/s eta 0:00:05    55% |█████████████████▉              | 118.6MB 26.4MB/s eta 0:00:04    56% |██████████████████▏             | 120.7MB 26.5MB/s eta 0:00:04    57% |██████████████████▍             | 122.0MB 24.6MB/s eta 0:00:04    57% |██████████████████▌             | 123.1MB 18.5MB/s eta 0:00:05    58% |██████████████████▊             | 124.4MB 28.0MB/s eta 0:00:04    59% |███████████████████             | 125.8MB 29.2MB/s eta 0:00:03    60% |███████████████████▎            | 128.2MB 25.8MB/s eta 0:00:04    60% |███████████████████▌            | 129.5MB 33.6MB/s eta 0:00:03    61% |███████████████████▉            | 131.6MB 19.1MB/s eta 0:00:05    62% |████████████████████▏           | 133.7MB 26.0MB/s eta 0:00:04    63% |████████████████████▎           | 134.9MB 20.2MB/s eta 0:00:04    64% |████████████████████▋           | 137.1MB 26.6MB/s eta 0:00:03    65% |████████████████████▉           | 138.5MB 24.7MB/s eta 0:00:03    65% |█████████████████████           | 139.8MB 27.5MB/s eta 0:00:03    66% |█████████████████████▎          | 141.2MB 27.9MB/s eta 0:00:03    67% |█████████████████████▋          | 143.7MB 41.1MB/s eta 0:00:02    68% |██████████████████████          | 145.6MB 20.9MB/s eta 0:00:04    69% |██████████████████████▏         | 146.9MB 36.6MB/s eta 0:00:02    69% |██████████████████████▎         | 148.0MB 19.3MB/s eta 0:00:04    70% |██████████████████████▌         | 149.3MB 31.8MB/s eta 0:00:02    71% |██████████████████████▉         | 151.7MB 26.0MB/s eta 0:00:03    72% |███████████████████████         | 153.0MB 31.7MB/s eta 0:00:02    72% |███████████████████████▏        | 154.0MB 19.4MB/s eta 0:00:04    72% |███████████████████████▎        | 154.8MB 17.0MB/s eta 0:00:04    73% |███████████████████████▌        | 156.1MB 28.0MB/s eta 0:00:03    74% |███████████████████████▉        | 158.1MB 24.5MB/s eta 0:00:03    75% |████████████████████████▏       | 160.3MB 22.0MB/s eta 0:00:03    76% |████████████████████████▍       | 161.7MB 25.6MB/s eta 0:00:02    76% |████████████████████████▌       | 162.9MB 19.1MB/s eta 0:00:03    76% |████████████████████████▋       | 163.6MB 12.7MB/s eta 0:00:04    77% |████████████████████████▊       | 164.3MB 20.5MB/s eta 0:00:03    77% |█████████████████████████       | 165.6MB 25.0MB/s eta 0:00:02    78% |█████████████████████████▏      | 166.8MB 30.2MB/s eta 0:00:02    79% |█████████████████████████▎      | 167.9MB 21.8MB/s eta 0:00:03    79% |█████████████████████████▌      | 169.2MB 18.1MB/s eta 0:00:03    80% |█████████████████████████▊      | 170.6MB 36.3MB/s eta 0:00:02    81% |██████████████████████████      | 172.6MB 13.8MB/s eta 0:00:03    81% |██████████████████████████▏     | 173.7MB 22.2MB/s eta 0:00:02    82% |██████████████████████████▍     | 174.9MB 22.1MB/s eta 0:00:02    82% |██████████████████████████▋     | 176.3MB 26.8MB/s eta 0:00:02    83% |██████████████████████████▉     | 177.8MB 29.3MB/s eta 0:00:02    84% |███████████████████████████     | 179.1MB 22.3MB/s eta 0:00:02    84% |███████████████████████████     | 179.9MB 20.1MB/s eta 0:00:02    85% |███████████████████████████▍    | 182.0MB 32.2MB/s eta 0:00:01    86% |███████████████████████████▋    | 183.1MB 13.8MB/s eta 0:00:03    86% |███████████████████████████▊    | 184.2MB 30.1MB/s eta 0:00:01    87% |████████████████████████████    | 186.3MB 31.1MB/s eta 0:00:01    88% |████████████████████████████▏   | 187.2MB 13.5MB/s eta 0:00:02    88% |████████████████████████████▎   | 187.9MB 14.5MB/s eta 0:00:02    88% |████████████████████████████▌   | 188.9MB 16.3MB/s eta 0:00:02    89% |████████████████████████████▋   | 190.1MB 20.4MB/s eta 0:00:02    90% |████████████████████████████▉   | 191.5MB 36.1MB/s eta 0:00:01    90% |█████████████████████████████   | 192.7MB 21.7MB/s eta 0:00:01    91% |█████████████████████████████▏  | 193.8MB 22.0MB/s eta 0:00:01    91% |█████████████████████████████▍  | 195.0MB 22.5MB/s eta 0:00:01    92% |█████████████████████████████▋  | 196.4MB 31.2MB/s eta 0:00:01    93% |█████████████████████████████▉  | 197.8MB 38.5MB/s eta 0:00:01    93% |██████████████████████████████  | 199.1MB 21.4MB/s eta 0:00:01    94% |██████████████████████████████▏ | 200.4MB 27.2MB/s eta 0:00:01    95% |██████████████████████████████▋ | 203.1MB 23.5MB/s eta 0:00:01    96% |███████████████████████████████ | 205.8MB 19.4MB/s eta 0:00:01    97% |███████████████████████████████▎| 207.9MB 22.6MB/s eta 0:00:01    98% |███████████████████████████████▌| 209.3MB 20.0MB/s eta 0:00:01    99% |████████████████████████████████| 212.2MB 43.0MB/s eta 0:00:01
Collecting py4j==0.10.9 (from pyspark)
  Downloading https://files.pythonhosted.org/packages/9e/b6/6a4fb90cd235dc8e265a6a2067f2a2c99f0d91787f06aca4bcf7c23f3f80/py4j-0.10.9-py2.py3-none-any.whl (198kB)
    100% |████████████████████████████████| 204kB 9.7MB/s eta 0:00:01    61% |███████████████████▉            | 122kB 13.9MB/s eta 0:00:01
Building wheels for collected packages: pyspark
  Running setup.py bdist_wheel for pyspark ... done
  Stored in directory: /root/.cache/pip/wheels/40/1b/2c/30f43be2627857ab80062bef1527c0128f7b4070b6b2d02139
Successfully built pyspark
Installing collected packages: py4j, pyspark
  Found existing installation: py4j 0.10.7
    Uninstalling py4j-0.10.7:
      Successfully uninstalled py4j-0.10.7
  Found existing installation: pyspark 2.4.3
    Can't uninstall 'pyspark'. No files were found to uninstall.
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [3]:
# Create Spark session
spark = SparkSession.builder.getOrCreate()
df_spark =spark.read.load('./sas_data')
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()

### Step 1: Scope the Project and Gather Data

#### Scope 
3 different sources will be used to create fact and dimension tables. 

#### Describe and Gather Data 
- I94 Immigration Data: comes from the U.S. National Tourism and Trade Office and contains various statistics on international visitor arrival in USA and comes from the US National Tourism and Trade Office. ([link](https://www.trade.gov/national-travel-and-tourism-office)).
- World Temperature Data: This dataset came from Kaggle and includes the information about the average weather temperatures. ([link](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data)).
- U.S. City Demographic Data: This data comes from OpenSoft and includes the information about the demographics of US cities such as average age, gender distribution. ([link](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/)).

In [4]:
# Read the I94 immigration data here
fname = '../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat'
imm_df = pd.read_sas(fname, 'sas7bdat', encoding="ISO-8859-1")

In [5]:
imm_df.head(1)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2

In [6]:
# Read the temperature data here
temp_fname = '../../data2/GlobalLandTemperaturesByCity.csv'
temp_df = spark.read.format("csv").option("delimiter", ",").option("header", "true").load(temp_fname)

In [7]:
temp_df.head(1)

[Row(dt='1743-11-01', AverageTemperature='6.068', AverageTemperatureUncertainty='1.7369999999999999', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E')]

In [8]:
# Read the demographic data here
demog_fname = 'us-cities-demographics.csv'
demog_df = spark.read.format("csv").option("delimiter", ";").option("header", "true").load(demog_fname)

In [9]:
demog_df.head(1)

[Row(City='Silver Spring', State='Maryland', Median Age='33.8', Male Population='40601', Female Population='41862', Total Population='82463', Number of Veterans='1562', Foreign-born='30908', Average Household Size='2.6', State Code='MD', Race='Hispanic or Latino', Count='25924')]

In [10]:
#write to parquet
#df_spark.write.parquet("sas_data")
#df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data

#### Cleaning Steps
Document steps necessary to clean the data

#### 2.1 i94 Immigration data exploration, assessment and cleaning

In [11]:
imm_df.head(10)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
5,18.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MI,20555.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247104e+10,00602,B1
6,19.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1953.0,09302016,NaN,NaN,AZ,9.247140e+10,00602,B2
7,20.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NJ,20558.0,...,NaN,M,1959.0,09302016,NaN,NaN,AZ,9.247161e+10,00602,B2
8,21.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20553.0,...,NaN,M,1970.0,09302016,NaN,NaN,AZ,9.247080e+10,00602,B2
9,22.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,NY,20562.0,...,NaN,M,1968.0,09302016,NaN,NaN,AZ,9.247849e+10,00608,B1

In [12]:
imm_df.tail(10)

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
3096303,4471817.0,2016.0,4.0,745.0,745.0,PHU,20567.0,3.0,IL,20569.0,...,NaN,M,1958.0,10222016,F,NaN,NaN,9.429629e+10,LAND,B2
3096304,4471819.0,2016.0,4.0,745.0,745.0,PHU,20567.0,3.0,IL,20569.0,...,NaN,M,1969.0,10222016,F,NaN,NaN,9.429643e+10,LAND,B2
3096305,5011591.0,2016.0,4.0,745.0,745.0,SKA,20570.0,3.0,US,20573.0,...,NaN,M,1987.0,10182016,F,NaN,NaN,9.397554e+10,00490,B1
3096306,4249464.0,2016.0,4.0,745.0,745.0,SUM,20566.0,3.0,CA,20571.0,...,NaN,M,1978.0,10212016,M,NaN,NaN,9.426909e+10,LAND,B1
3096307,5416391.0,2016.0,4.0,745.0,745.0,SUM,20572.0,3.0,MN,20577.0,...,NaN,M,1971.0,10262016,M,NaN,NaN,9.471480e+10,LAND,B1
3096308,625229.0,2016.0,4.0,745.0,745.0,SYS,20547.0,3.0,CA,NaN,...,NaN,NaN,1980.0,05082016,NaN,NaN,NaN,7.893456e+10,00066,B2
3096309,1972204.0,2016.0,4.0,745.0,745.0,SYS,20554.0,3.0,CA,20555.0,...,NaN,M,1980.0,09102016,F,NaN,NaN,9.030054e+10,00066,B2
3096310,4249448.0,2016.0,4.0,745.0,745.0,TEC,20566.0,3.0,VA,20588.0,...,NaN,M,1993.0,09202016,F,NaN,NaN,9.141672e+10,00651,B2
3096311,5658953.0,2016.0,4.0,748.0,748.0,NEW,20573.0,3.0,MN,NaN,...,NaN,NaN,1959.0,10282016,M,NaN,NaN,9.488710e+10,LAND,B2
3096312,3106671.0,2016.0,4.0,123.0,749.0,NOG,20561.0,3.0,AZ,20567.0,...,NaN,M,1958.0,07102016,M,NaN,NaN,5.605687e+10,00866,WB

In [13]:
imm_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3096313 entries, 0 to 3096312
Data columns (total 28 columns):
cicid       float64
i94yr       float64
i94mon      float64
i94cit      float64
i94res      float64
i94port     object
arrdate     float64
i94mode     float64
i94addr     object
depdate     float64
i94bir      float64
i94visa     float64
count       float64
dtadfile    object
visapost    object
occup       object
entdepa     object
entdepd     object
entdepu     object
matflag     object
biryear     float64
dtaddto     object
gender      object
insnum      object
airline     object
admnum      float64
fltno       object
visatype    object
dtypes: float64(13), object(15)
memory usage: 661.4+ MB

In [14]:
# clean data and keep relevant columns

imm_df2 = df_spark[['cicid','i94yr','i94mon','i94port','i94mode','arrdate','depdate','i94bir','biryear','gender', 'i94visa']]

imm_df3 = imm_df2.limit(6000).toPandas()

In [15]:
imm_df3.gender.value_counts()

M    2899
F    2882
Name: gender, dtype: int64

In [16]:
# Convert dates from Sas to Pyspark

@udf(StringType())
def convert_dataframe(file):
    if file:
        return (datetime(1960,1,1).date()+timedelta(file).isoformat())
    return None

In [17]:
# Remove non values
imm_df4 = imm_df2.dropna(how = 'any', subset = ['i94port','gender'])
imm_df4.count()

2682044

In [18]:
# Create cleaned immigration table
imm_df5 = imm_df4.select(col("cicid").alias("id"),
                        col("i94yr").alias("year"),
                        col("i94mon").alias("month"),
                        col("i94port").alias("city_code"),
                        col("i94mode").alias("travel_code"),
                        col("arrdate").alias("arrival_date"),
                        col("depdate").alias("departure_date"),
                        col("i94bir").alias("age"),
                        col("biryear").alias("birth_year"),
                        col("gender").alias("gender"),
                        col("i94visa").alias("travel_reason"))

In [19]:
df_immigration_clean = imm_df5.limit(6000).toPandas()
df_immigration_clean.head()

,id,year,month,city_code,travel_code,arrival_date,departure_date,age,birth_year,gender,travel_reason
0,5748517.0,2016.0,4.0,LOS,1.0,20574.0,20582.0,40.0,1976.0,F,1.0
1,5748518.0,2016.0,4.0,LOS,1.0,20574.0,20591.0,32.0,1984.0,F,1.0
2,5748519.0,2016.0,4.0,LOS,1.0,20574.0,20582.0,29.0,1987.0,M,1.0
3,5748520.0,2016.0,4.0,LOS,1.0,20574.0,20588.0,29.0,1987.0,F,1.0
4,5748521.0,2016.0,4.0,LOS,1.0,20574.0,20588.0,28.0,1988.0,M,1.0

### 2.2 Temperature data exploration, assessment and cleaning

In [20]:
temp_df.count()

8599212

In [21]:
temp_df.head(10)

[Row(dt='1743-11-01', AverageTemperature='6.068', AverageTemperatureUncertainty='1.7369999999999999', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1743-12-01', AverageTemperature=None, AverageTemperatureUncertainty=None, City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-01-01', AverageTemperature=None, AverageTemperatureUncertainty=None, City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-02-01', AverageTemperature=None, AverageTemperatureUncertainty=None, City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-03-01', AverageTemperature=None, AverageTemperatureUncertainty=None, City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-04-01', AverageTemperature='5.7879999999999985', AverageTemperatureUncertainty='3.6239999999999997', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-05-01', AverageTemperature='10.644', AverageTemperatureUncertainty='1.2830000000000001', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-06-01', AverageTemperature='14.050999999999998', AverageTemperatureUncertainty='1.347', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-07-01', AverageTemperature='16.082', AverageTemperatureUncertainty='1.396', City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E'),
 Row(dt='1744-08-01', AverageTemperature=None, AverageTemperatureUncertainty=None, City='Århus', Country='Denmark', Latitude='57.05N', Longitude='10.33E')]

In [22]:
# Clean country variable
temp_df1 = temp_df.filter(temp_df["Country"] == 'United States')

# Separate year and month
temp_df2 = temp_df1.withColumn("year", year(temp_df['dt'])) \
                                   .withColumn("month", month(temp_df["dt"]))

# clean data and keep relevant columns
temp_df3 = temp_df2[['City','Country','Latitude','Longitude','AverageTemperature','year','month']]
temp_df4 = temp_df3.withColumn('AverageTemperature', col('AverageTemperature').cast('float'))

In [23]:
# identify the most recent year of the temperature data because this is most relevant
max_yr = temp_df4.agg({"year":"max"}).collect()[0]
print(max_yr)

# only keep 2013 data
temp_df5 = temp_df4.filter(temp_df4["year"] == 2013)

Row(max(year)=2013)

In [24]:
i94_sas_label_descriptions_fname = "I94_SAS_Labels_Descriptions.SAS"
with open(i94_sas_label_descriptions_fname) as f:
    lines = f.readlines()

re_compiled = re.compile(r"\'(.*)\'.*\'(.*)\'")
valid_ports = {}
for line in lines[302:961]:
    results = re_compiled.search(line)
    valid_ports[results.group(1)] = results.group(2)
print(len(valid_ports))

@udf(StringType())
def city_abb(city):
    for key in valid_ports:
        if city.lower() in valid_ports[key].lower():
            return key
        
# Create City code
temp_df6 = temp_df5.withColumn("city_code", city_abb(temp_df5["City"]))
temp_df7 = temp_df6.dropna(how = 'any',subset=['city_code'])

659

In [25]:
# clean temp table
temp_df8 = temp_df7.select(col("City").alias("city"),
                           col("city_code").alias("city_code"),
                           col("Country").alias("country"),
                           col("year").alias("year"),
                           col("month").alias("month"),
                           col("Latitude").alias("latitude"),
                           col("Longitude").alias("longitude"),
                           col("AverageTemperature").alias("average_temperature")
                          ).drop_duplicates()

In [26]:
df_temp_clean = temp_df8.limit(6000).toPandas()
df_temp_clean.head()

,city,city_code,country,year,month,latitude,longitude,average_temperature
0,Anchorage,ANC,United States,2013,9,61.88N,151.13W,NaN
1,Atlanta,ATL,United States,2013,2,34.56N,83.68W,5.758000
2,Burbank,BUR,United States,2013,2,34.56N,118.70W,9.804000
3,Dallas,DAL,United States,2013,3,32.95N,96.70W,12.543000
4,Fort Lauderdale,FTL,United States,2013,4,26.52N,80.60W,24.280001

### 2.3 Demographic data exploration, assessment and cleaning

In [27]:
demog_df.count()

2891

In [28]:
demog_df.head()

Row(City='Silver Spring', State='Maryland', Median Age='33.8', Male Population='40601', Female Population='41862', Total Population='82463', Number of Veterans='1562', Foreign-born='30908', Average Household Size='2.6', State Code='MD', Race='Hispanic or Latino', Count='25924')

In [29]:
demog_df1 = demog_df.withColumn("percentage_males", (demog_df['Male Population'] / demog_df['Total Population'])) \
                    .withColumn("percentage_females", (demog_df['Female Population'] / demog_df['Total Population'])) \
                    .withColumn("percentage_foreign_born", (demog_df['Foreign-born'] / demog_df['Total Population'])) \
                    .withColumn("percentage_race", (demog_df['Count'] / demog_df['Total Population']))

demog_df2 = demog_df1.withColumn("city_code", city_abb(demog_df1["City"]))
demog_df3 = demog_df2.dropna(how = 'any',subset=['city_code'])

In [30]:
# Create cleaned demographic table 
demog_df4 = demog_df3.select(col("City").alias("city"),
                             col("city_code").alias("city_code"),
                                  col("Race").alias("race"),
                                  col("percentage_males").alias("percentage_males"),
                                  col("percentage_females").alias("percentage_females"),
                                  col("percentage_foreign_born").alias("percentage_foreign_born"))

In [31]:
df_demog_clean = demog_df4.limit(6000).toPandas()
df_demog_clean.head()

,city,city_code,race,percentage_males,percentage_females,percentage_foreign_born
0,Newark,NEW,White,0.489655,0.510345,0.305956
1,Peoria,PIA,American Indian and Alaska Native,0.473863,0.526137,0.063349
2,Philadelphia,PHI,Asian,0.472917,0.527083,0.131003
3,Fort Myers,FMY,White,0.497872,0.502128,0.207593
4,Laredo,LCB,American Indian and Alaska Native,0.485967,0.514033,0.267513

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model

Fact table will contain information from the I94 immigration data joined with the city temperature data on i94port and demographic data on:

fact_df
* id
* city_code


The first dimension table will contain events from the I94 immigration data. The columns below will be extracted from the immigration dataframe:

immigration_df
* id
* city_code
* year
* month
* arrival_date
* departure_date
* birth_year
* age
* gender
* travel_reason

The second dimension table will contain city temperature data. The columns below will be extracted from the temperature dataframe:

temperature_df
* city_code
* average_temperature
* city
* country
* latitude
* longitude
* year
* month

The third dimension table will contain demongraphic data. The columns below will be extracted from the demographic dataframe:

demographic_df
* city_code
* city
* race
* percentage_males
* percentage_females
* percentage_foreign_born


#### 3.2 Mapping Out Data Pipelines
The pipeline steps are described below:

* Clean I94 data as described in step 2 to create Spark dataframe df_immigration for each month
* Clean temperature data as described in step 2 to create Spark dataframe df_temp (already performed)
* Create immigration dimension table 
* Create temperature dimension table
* Create demographic dimension table
* Create fact table by joining immigration, temperature dimension table and demographic tables on i94port and write to parquet file partitioned by i94port

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [34]:
# First dimension table
immigration_df = imm_df4.select(col("cicid").alias("id"),
                                col("i94port").alias("city_code"),
                                col("i94yr").alias("year"),
                                col("i94mon").alias("month"),
                                col("arrdate").alias("arrival_date"),
                                col("depdate").alias("departure_date"),
                                col("i94bir").alias("age"),
                                col("biryear").alias("birth_year"),
                                col("gender").alias("gender"),
                                col("i94visa").alias("travel_reason")
                               )


# Seconf dimension table
temperature_df = temp_df7.select(col("city_code").alias("city_code"),
                                 col("AverageTemperature").alias("average_temperature"),
                                 col("City").alias("city"),
                                 col("Country").alias("country"),
                                 col("Latitude").alias("latitude"),
                                 col("Longitude").alias("longitude"),
                                 col("year").alias("year"),
                                 col("month").alias("month")
                                )



# Third dimension table
demographic_df = demog_df3.select(col("city_code").alias("city_code"),
                                  col("City").alias("city"),
                                  col("Race").alias("race"),
                                  col("percentage_males").alias("percentage_males"),
                                  col("percentage_females").alias("percentage_females"),
                                  col("percentage_foreign_born").alias("percentage_foreign_born"))



# Fact table
fact_df = imm_df4.select(col("cicid").alias("id"),
                         col("i94port").alias("city_code")
                        ).drop_duplicates()

In [35]:
immigration_df.head()

Row(id=5748517.0, city_code='LOS', year=2016.0, month=4.0, arrival_date=20574.0, departure_date=20582.0, age=40.0, birth_year=1976.0, gender='F', travel_reason=1.0)

In [36]:
temperature_df.head()

Row(city_code='AKR', average_temperature=-1.0859999656677246, city='Akron', country='United States', latitude='40.99N', longitude='80.95W', year=2013, month=1)

In [37]:
demographic_df.head()

Row(city_code='NEW', city='Newark', race='White', percentage_males=0.48965460975549197, percentage_females=0.5103453902445081, percentage_foreign_born=0.30595609283715186)

In [38]:
fact_df.head()

Row(id=5749258.0, city_code='CLT')

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [33]:
# Perform quality checks here

def quality_check(df, description):
    '''
    Input: Spark dataframe, description of Spark datafram
    
    Output: Print outcome of data quality check
    
    '''
    
    result = df.count()
    if result == 0:
        print("Data quality check failed for {} with zero records".format(description))
    else:
        print("Data quality check passed for {} with {} records".format(description, result))
    return 0

# Perform data quality check
quality_check(immigration_df, "immigration table")
quality_check(temp_df, "temperature table")
quality_check(demog_df, "demographic table")

Data quality check passed for immigration table with 2682044 records
Data quality check passed for temperature table with 8599212 records
Data quality check passed for demographic table with 2891 records

0

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.

This project is to give a chance to combine what I've learned throughout this programme. In the project, I read data from different forms in the jupyter Notebook, assessed and cleaned the data as part of the data wrangling, and createed the ETL pipeline to create a database for useful insights and analysis. 

I used the star schema with Spark because this database is relatively simple and easy to build. With star schema, it is easy to be understand, denormalized and do fast aggregations.
The business questions can be, for example, is there any immigration age distribtuion? or do immigrates prefer warmer places? is there any gender trend for immigration? etc. 

* Propose how often the data should be updated and why.

The data should be updated at least once a month because 1) i94 and temp datasets are both recorded in monthly basis; 2) the data size will be large if updating less frequent than a month; 3) business demands. 

* Write a description of how you would approach the problem differently under the following scenarios:
     * The data was increased by 100x
     
1) Discuss with the business analyst on how they would want to use the data and then decide if I need to adjust the star scheme structure. 2) Move the database to AWS and increase EMR cluster size. Apache Spark is linearly scalable so I can add the number of clusters to increase the performance. With AWS EMR I can adjust the size and number of clusters to fit the database. 

     * The data populates a dashboard that must be updated on a daily basis by 7am every day
     
1) Set up a DAG to update the database every hour to get the database ready for the dashboard. 
2) Create data quality operators to trigger sending emails if the DAG fails to run.
3) Combine Airflow + Spark + Apache Livy in the EMR cluster so that Spark commands can be passed through an API interface. 

     * The database needed to be accessed by 100+ people
     
1) Use Redshift to wuto-scaling capabilities of the database.
2) If the useers do not need to perform insert and update and they only need to access some queries, the data can be periodically copied to a NoSQL server such as Cassandra.